<% content_for :title, "Editing perguntum" %>

<h1>Editing perguntum</h1>

<%= render "form", perguntum: @perguntum %>

<br>

<div>
  <%= link_to "Show this perguntum", @perguntum %> |
  <%= link_to "Back to pergunta", pergunta_path %>
</div>
