<div id="<%= dom_id respostum %>">
  <p>
    <strong>Conteudo:</strong>
    <%= respostum.conteudo %>
  </p>

  <p>
    <strong>Correta:</strong>
    <%= respostum.correta %>
  </p>

  <p>
    <strong>Pergunta:</strong>
    <%= respostum.pergunta_id %>
  </p>

</div>
