<% content_for :title, "Editing respostum" %>

<h1>Editing respostum</h1>

<%= render "form", respostum: @respostum %>

<br>

<div>
  <%= link_to "Show this respostum", @respostum %> |
  <%= link_to "Back to resposta", resposta_path %>
</div>
